.question {
    background: rgb(1, 31, 10);
    border: 4px solid rgb(1, 31, 10);
    display: flex;
    color: rgb(170, 230, 188);
    width: 600px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.false {
    border: 4px solid rgb(230, 170, 170);
    color: rgb(230, 170, 170);
}
.true {
    border: 4px solid rgb(170, 230, 188);
    color: rgb(170, 230, 188);
}